{{> head }}


{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Alguien en quien confiar</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum quas quam saepe molestiae molestias natus tempore aperiam officia modi, earum odit mollitia ullam. Voluptatum illum unde in quibusdam, odio error.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/_dlcv.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}